<!-- Sidebar -->
<ul class="sidebar navbar-nav">
  <li class="nav-item active">
    <a class="nav-link" href="admin/adduser">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>유저입력</span>
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="admin/addcurriculum">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>커리큘럼입력</span>
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="admin/addexam">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>시험입력</span>
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="admin/addresult">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>결과입력</span>
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="admin/addclass">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>반입력</span>
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="admin/adduniversity">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>대학정보입력</span>
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="admin/showuser">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>유저현황</span>
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="admin/showcurriculum">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>커리큘럼현황</span>
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="admin/showclass">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>반현황</span>
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="admin/showexam">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>시험현황</span>
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="admin/showresult">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>결과현황</span>
    </a>
  </li>
</ul>