<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item active">커리큘럼현황</li>
</ol>


<!-- 시험변동추이 -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-chart-area"></i>
    성적 변동 추이(표준점수)</div>
  <div class="card-body">
    <canvas id="myAreaChart" width="100%" height="30"></canvas>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>