    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">김기원 수리논술<sup>2.0</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">업무</div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>업무 관리</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">업무</h6>
            <a class="collapse-item" href="admin/showlesson">업무처리 현황</a>
            <a class="collapse-item" href="admin/addlesson">업무 추가</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">강의데이터 관리</div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCurriculumData" aria-expanded="true" aria-controls="collapseCurriculumData">
          <i class="fas fa-fw fa-folder"></i>
          <span>커리큘럼</span>
        </a>
        <div id="collapseCurriculumData" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">커리큘럼</h6>
            <a class="collapse-item" href="admin/showcurriculum">커리큘럼 현황</a>
            <a class="collapse-item" href="admin/addcurriculum">커리큘럼 추가</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseExamData" aria-expanded="true" aria-controls="collapseExamData">
          <i class="fas fa-fw fa-folder"></i>
          <span>시험</span>
        </a>
        <div id="collapseExamData" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">시험</h6>
            <a class="collapse-item" href="admin/showexam">시험 현황</a>
            <a class="collapse-item" href="admin/addexam">시험 추가</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUserData" aria-expanded="true" aria-controls="collapseUserData">
          <i class="fas fa-fw fa-folder"></i>
          <span>유저</span>
        </a>
        <div id="collapseUserData" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">유저</h6>
            <a class="collapse-item" href="admin/showuser">유저 현황</a>
            <a class="collapse-item" href="admin/adduser">유저 추가</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClassData" aria-expanded="true" aria-controls="collapseClassData">
          <i class="fas fa-fw fa-folder"></i>
          <span>반</span>
        </a>
        <div id="collapseClassData" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">반</h6>
            <a class="collapse-item" href="admin/showclass">반 현황</a>
            <a class="collapse-item" href="admin/addclass">반 추가</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseResultData" aria-expanded="true" aria-controls="collapseResultData">
          <i class="fas fa-fw fa-folder"></i>
          <span>결과</span>
        </a>
        <div id="collapseResultData" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">결과</h6>
            <a class="collapse-item" href="admin/addresultbulk">시험결과 엑셀추가</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">입시데이터 관리</div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>대학정보</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">대학입시정보</h6>
            <a class="collapse-item" href="admin/showuniversity">대학입시정보 현황</a>
            <a class="collapse-item" href="admin/adduniversity">대학입시정보 추가</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">도메인 관리</div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCurriculumDomain" aria-expanded="true" aria-controls="collapseCurriculumDomain">
          <i class="fas fa-fw fa-wrench"></i>
          <span>커리큘럼 도메인</span>
        </a>
        <div id="collapseCurriculumDomain" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">커리큘럼 도메인</h6>
            <a class="collapse-item" href="admin/showcurriculumdomain">커리큘럼 도메인 현황</a>
            <a class="collapse-item" href="admin/addcurriculumdomain">커리큘럼 도메인 추가</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseExamDomain" aria-expanded="true" aria-controls="collapseExamDomain">
          <i class="fas fa-fw fa-wrench"></i>
          <span>시험 도메인</span>
        </a>
        <div id="collapseExamDomain" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">시험 도메인</h6>
            <a class="collapse-item" href="admin/showexamdomain">시험 도메인 현황</a>
            <a class="collapse-item" href="admin/addexamdomain">시험 도메인 추가</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseExamType" aria-expanded="true" aria-controls="collapseExamType">
          <i class="fas fa-fw fa-wrench"></i>
          <span>시험 타입</span>
        </a>
        <div id="collapseExamType" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">시험 타입</h6>
            <a class="collapse-item" href="admin/showexamtype">시험 타입 현황</a>
            <a class="collapse-item" href="admin/addexamtype">시험 타입 추가</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Nav Item - Charts -->
      <li class="nav-item active">
        <a class="nav-link" href="admin/systemsetting">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>시스템 설정</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->